<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome-free-6.3.0-web/css/all.min.css">
</head>
<body>
    <div>

        <section class="flex justify-center bg-white my-20">
            <div class="flex flex-row items-center justify-center w-4/6">
                <div class="w-1/2">
                    <h1 class="font-sans text-6xl font-bold text-gray-800 leading-none my-5">A modern approach to event housing management software.</h1>
                    <h5 class="font-sans text-gray-900 text-2xl leading-tight">Say goodbye to tedious, time-consuming systems. Move faster and wow your guests.</h5>
                    <div class="my-5">
                        <a href="/demo" class="bg-yellow-500 text-white uppercase rounded text-lg font-bold py-3 px-6">Get a Demo</a>
                    </div>
                </div>
                <div class="w-1/2">
                    <div class="relative">
                        <img src="../images/video-thumbnail.svg" alt="thumbnail" class="w-100">
                        <div class="absolute inset-0 flex justify-center items-center z-10"> 
                            <button class="rounded-full bg-yellow-500 w-20 h-20 flex items-center justify-center">
                                <i class="fa-solid fa-play text-4xl text-white p-5" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <!--<div class="modal video-modal" id="videoModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <button class="close-button" onclick="hideModal()"><i class="bi bi-x-lg"></i></button>
                                <div style="padding:56.25% 0 0 0;position:relative;">
                                    <iframe id="epvideo" src="https://player.vimeo.com/video/605912106?h=748c282c59&amp;title=0&amp;byline=0&amp;portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" data-ready="true"></iframe>
                                </div>
                                <script src="https://player.vimeo.com/api/player.js"></script>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>
        
        <section class="flex justify-center bg-white my-20">
            <div class="flex flex-row items-center justify-center w-4/6">
                <div class="w-1/12">
                    <span class="flex flex-row justify-start cursor-pointer">
                        <i class="fa-solid fa-chevron-left text-xl" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="w-10/12">
                    <div class="">
                        
                        <div class="relative">
                            <img src="../images/feature1/image.png" alt="feature1" class="d-block w-100">
                            <div class="absolute flex flex-col bottom-0 right-0 justify-end items-end z-10 bg-white shadow-lg rounded-md w-4/6 p-10 mx-10">
                                <h5 class="font-sans text-gray-900 text-2xl font-bold leading-none mb-3">Manage and sell all of your event room inventory from one intuitive screen. </h5>
                                <p class="text-xl h-min leading-tight">Our cloud-based, self-service software puts you in the driver's seat.  Easily procure and manage event room inventory for events of all sizes.</p>
                            </div>
                        </div>
                        
                        <!--<div class="carousel-item active" data-bs-interval="10000">
                            
                            <img src="/features/feature2/image.png" class="d-block w-100">

                            <div class="box">
                                <h5 class="big-text medium-text">EventPipe allows you to create a custom booking site for any event in under 10 minutes</h5>
                                <p class="light-text small-text mb-0">Create an event and send your requests for proposals “RFPs” directly to your hotels. Negotiate, accept or decline the bids right in the system. Then, easily create custom booking sites based on the details negotiated with each hotel.</p>
                            </div>
                        </div>
                        
                        <div class="carousel-item" data-bs-interval="10000">
                            
                            <img src="/features/feature3/image.png" class="d-block w-100">

                            <div class="box">
                                <h5 class="big-text medium-text">Wow your guests with a simple, transparent reservation process</h5>
                                <p class="light-text small-text mb-0">Our simple three step reservation process offers clear pricing  options and cancelation policies so your guests can be confident when booking a room.</p>
                            </div>
                        </div>
                        
                        <div class="carousel-item" data-bs-interval="10000">
                            
                            <img src="/features/feature4/image.png" class="d-block w-100">

                            <div class="box">
                                <h5 class="big-text medium-text">Keep your hotel partners happy with a simple reservation management portal for them</h5>
                                <p class="light-text small-text mb-0">EventPipe not only makes your life easier, it gives your hotel partners a simple portal for all their reservation needs. They can easily import reservations to their own system, see pick-up for particular events, upload confirmation numbers and even respond to RFPs right within the system.</p>
                            </div>
                        </div>-->
                        
                    </div>
                </div>

                <div class="w-1/12">
                    <span class="flex flex-row justify-end cursor-pointer">
                        <i class="fa-solid fa-chevron-right text-xl" aria-hidden="true"></i>
                    </span>
                </div>          
            </div>
        </section>
        
        <section class="flex justify-center bg-gray-100 my-20">

                <div class="flex flex-row items-center justify-center my-16 w-4/6">
                    <div class="w-1/2">
                        <h6 class="text-xl text-teal-500 uppercase p-0 m-0">Everything you need</h6>
                        <h2 class="text-4xl font-bold leading-none p-0 m-0">The EventPipe difference</h2>
                        <p class="text-xl my-3">When you work with us, you join our team. With our software comes our promise to always have your back. We promise to listen carefully, jump into action, and never settle for the status quo.</p>
                        <a href="/" class="text-xl text-teal-500">Learn more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="w-1/2">
                        <ul class="">
                            <li class="flex flex-row mb-4"> 
                                <div class="w-6 mr-6"><img src="/images/check-mark.png" alt=""></div>
                                <div class="text-xl">All the features you need, delivered in a more intuitive way to save you time &amp; energy</div>
                            </li>
                        
                            <li class="flex flex-row mb-4"> 
                                <div class="w-6 mr-6"><img src="/images/check-mark.png" alt=""  ></div>
                                <div class="text-xl">Provide multiple new revenue streams for your business</div>
                            </li>
                        
                            <li class="flex flex-row mb-4"> 
                                <div class="w-6 mr-6"><img src="/images/check-mark.png" alt=""></div>
                                <div class="text-xl">Build an event in less than 10 mins</div>
                            </li>
                        </ul>
                    </div>
                </div>
        </section>
        
        <section class="section-padding dark-banner">
            <div class="text-center container-xxl">
                <div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
                    <div class="row d-flex align-items-center">
                        <div class="col-1">
                            <span class="big-text slide-icon text-white" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
                                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                            
                        </span></div>
                        <div class="col-10">
                            <div class="carousel-inner testimonial-container">
                                
                                    <div class="carousel-item">
                                        <div class="text-container">
                                            <h4 class="big-text text-white medium-text"> "I have been handling all things travel for our large program for 10 years. EventPipe’s booking system is the easiest and most user-friendly experience I have ever worked with. Creating team blocks for a program like ours with over 1,000 families is now a process I don’t dread having to complete." </h4>
                                            <div class="testimonial-author mt-4">
                                                <span class="text-white medium-text">— Amy Yoder,</span> <span class="text-light"> Group Manager, ICE All Stars</span>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="carousel-item">
                                        <div class="text-container">
                                            <h4 class="big-text text-white medium-text"> "Love that it gives you real time reservations and all reservation information in one click." </h4>
                                            <div class="testimonial-author mt-4">
                                                <span class="text-white medium-text">— Paula Wathen,</span> <span class="text-light"> Director of Sales, Home2 Suites by Hilton</span>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="carousel-item active">
                                        <div class="text-container">
                                            <h4 class="big-text text-white medium-text"> "We absolutely LOVE EventPipe at Team Travel Source. It is very intuitive and completely self-service. EventPipe has allowed us to manage over 750,000 room nights in their system with a lot less manpower. That’s a huge win for our team!" </h4>
                                            <div class="testimonial-author mt-4">
                                                <span class="text-white medium-text">— Kelly Roberts,</span> <span class="text-light"> Team Travel Source</span>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="carousel-item">
                                        <div class="text-container">
                                            <h4 class="big-text text-white medium-text"> "I made a reservation from my team’s booking link with my mobile phone. I love how compatible it is with my phone and I could see everything. We live in a world where we all rely on our smart phones, and to know that I could book my reservation as soon as my team sent the link made it effortless." </h4>
                                            <div class="testimonial-author mt-4">
                                                <span class="text-white medium-text">— Chris,</span> <span class="text-light"> Parent</span>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="carousel-item">
                                        <div class="text-container">
                                            <h4 class="big-text text-white medium-text"> "We have used Event Pipe for 100+ events and we could not be more pleased with its ease of use, and the functionality it provides. We have heard nothing but positive feedback from our staff, teams, and attendees." </h4>
                                            <div class="testimonial-author mt-4">
                                                <span class="text-white medium-text">— Craig Davis,</span> <span class="text-light"> VP of Brand Performance &amp; Experience, Varsity Spirit</span>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                        <div class="col-1">
                            <span class="big-text slide-icon text-white" id="NextButtonTestimonial" data-bs-target="#carouselTestimonials" data-bs-slide="next">
                                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                            </span>
                        </div>            
                    </div>
                </div>
            </div>
        </section>
        
        <section id="customers" class="section-padding">
            <div class="container-fluid text-center">
                <h6 class="light-text text-uppercase text-teal mb-0">Our Customers</h6>
                <h2 class="subtitle">From a convention to a wedding, we've got your back.</h2>
                <p class="light-text container mb-5"> </p>
        
                <div class="customers-container">
                    <ul class="row list-reset">
                        
                            <li class="col-6 col-md-3 mb-3">
                                
                                <img src="/customer/association-event-planners/image.png" alt="customer image" class="mw-220">
                                <span class="light-text d-block py-2">Association Event Planners</span>
                            </li>
                        
                            <li class="col-6 col-md-3 mb-3">
                                
                                <img src="/customer/sportsevents/image.png" alt="customer image" class="mw-220">
                                <span class="light-text d-block py-2">Sports Event Producers</span>
                            </li>
                        
                            <li class="col-6 col-md-3 mb-3">
                                
                                <img src="/customer/sportscommission/image.png" alt="customer image" class="mw-220">
                                <span class="light-text d-block py-2">Sports Commissions</span>
                            </li>
                        
                            <li class="col-6 col-md-3 mb-3">
                                
                                <img src="/customer/corporate/image.png" alt="customer image" class="mw-220">
                                <span class="light-text d-block py-2">Corporate Event Producers</span>
                            </li>
                        
                            <li class="col-6 col-md-3 mb-3">
                                
                                <img src="/customer/convention/image.png" alt="customer image" class="mw-220">
                                <span class="light-text d-block py-2">Convention &amp; Business Bureaus</span>
                            </li>
                        
                            <li class="col-6 col-md-3 mb-3">
                                
                                <img src="/customer/independent/image.png" alt="customer image" class="mw-220">
                                <span class="light-text d-block py-2">Independent Meeting &amp; Event Planners</span>
                            </li>
                        
                            <li class="col-6 col-md-3 mb-3">
                                
                                <img src="/customer/family/image.png" alt="customer image" class="mw-220">
                                <span class="light-text d-block py-2">Family reunions, weddings and celebrations and more.</span>
                            </li>
                        
                            <li class="col-6 col-md-3 mb-3">
                                
                                <img src="/customer/festival/image.png" alt="customer image" class="mw-220">
                                <span class="light-text d-block py-2">Festival, Concert or Convention Producers.</span>
                            </li>
                        
                    </ul>
                </div>
            </div>
        </section>
        
        <section id="aboutUs" class="section-padding bg-gray">
            <div class="container-xxl">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-md-6 mb-4 mb-md-0">
                        <h6 class="light-text text-uppercase text-teal mb-0">About Us</h6>
                        <h2 class="subtitle">The EventPipe team experience</h2>
                        <p class="light-text mb-3">Events are in our DNA. We've founded them, we've run them, we love them. When we couldn’t find an event housing solution that fit our needs, we built one that is more flexible and easier to use than anything else on the market. And we couldn’t keep it to ourselves. </p>
                        <a href="/about" class="text-teal text-decoration-none">Meet the team <i class="bi bi-arrow-right"></i></a>
                    </div>
        
                    <div class="col-12 col-md-6">
                        <img src="/images/team.png" alt="" class="w-100 rounded-3">
                    </div>
                </div>
            </div>
        </section>
        
        <section class="bg-teal banner-padding">
            <div class="container-xxl">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                    <div><h3 class="text-white bold-text subtitle2 mb-3 mb-md-0">Ready to dive in? Let’s get in touch.</h3></div>
                    <div>
                        <a href="/demo" class="button text-white bg-yellow uppercase">get a demo</a>
                    </div>
                </div>
            </div>
        </section>
        
        <footer class="bg-dark-blue py-4">
            <div class="container-xxl">
                <div class="d-flex flex-row justify-content-between align-items-center flex-wrap flex-md-row-reverse">
                    <div class="d-flex flex-row">
                        <a href="https://twitter.com/GetEventPipe" target="_blank" class="subtitle text-white mx-2"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/company/eventpipe" target="_blank" class="subtitle text-white"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div><img src="/images/icon-white.png" alt="" width="40px"></div>
                        <div>
                            <small class="text-white light-text ms-3 d-block">For details on how we use your information please see our <a href="/legal/privacy/" class="text-white">Privacy Policy</a>.</small>
                            <small class="text-white light-text ms-3 d-block">© 2023 EventPipe™, Inc. All rights reserved.</small>
                        </div>
                    </div>
                </div>
            </div>
        
        </footer><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
          var url = $("#epvideo").attr("src");
          function showModal() {
            $("#videoModal").addClass("show");
            $("#epvideo").attr("src", url + "&autoplay=1");
          }
        
          function hideModal() {
            $("#videoModal").removeClass("show");
            $("#epvideo").attr("src", "");
          }
        </script>
        
        <script>
          window.addEventListener("load", () => {
            var img = document.getElementById("client-logo");
            console.log(img, img.clientWidth, img.clientHeight);
        
            if (img.clientWidth > img.clientHeight) {
              img.classList.remove("square-logo");
              img.classList.add("rectangular-logo");
            }
          });
        </script>
    </div>
</body>
</html>